addendaXSD2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sat.gob.mx/cfd/3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Addenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Observaciones">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="Nota"/>
                <xs:attribute type="xs:string" name="fechaPagoOperacion"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="DomicilioFiscalReceptor">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="pais"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="DomicilioFiscalEmisor">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="calle"/>
                <xs:attribute type="xs:string" name="noExterior"/>
                <xs:attribute type="xs:string" name="colonia"/>
                <xs:attribute type="xs:string" name="municipio"/>
                <xs:attribute type="xs:string" name="estado"/>
                <xs:attribute type="xs:string" name="pais"/>
                <xs:attribute type="xs:int" name="codigoPostal"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>